mixin btn-2({text, icon, counter, isActive, isDisabled})
  button.btn-2(
    class=(isActive ? 'actv' : null)
    disabled=isDisabled
    onclick="window.utils.toggleCssClass(this, 'actv')"
  )
    if icon
      +svg({name: icon, width: 17, height: 17, className: "btn-2__icon"})
    .btn-2__text=text
    if counter
      .btn-2__counter=counter
