mixin form-input({type, placeholder, value, color})
   input.form-input(
    class=(color && `form-input--${color}`)
    type=(type || "text")
    placeholder=placeholder
    value=value
    name=""
  )
