mixin form-select({isOpen, scriptId, value, color, data})
  .form-select(
    class=(color && `form-select--${color}`)
    class=(isOpen && "open")
    class=`js-form-select-input${scriptId || ''}`
  )
    button.form-select__field(onclick=`window.utils.toggleCssClassNodes(this, 'js-form-select-input${scriptId || ''}', 'open')`)
      =(value || "All")
      .form-select__icon
        +svg({name: "icon-arrow-dropdown", width: 20, height: 16})
    .form-select__dropdown
      if data
        each it in data
          button.form-select__option=it

